{% extends 'base-with-menu.html.twig' %}

{% block content %}
    <ul>
        {% for transfer in transfers %}
            <li>Transfer <b>#{{ transfer.id }}</b> for <b>{{ transfer.sourceValue }} {{ transfer.sourceCurrency }}</b>
                simulated.
                Now have status <b>{{ transfer.status }}</b></li>
        {% endfor %}
    </ul>
    <p>Transfers updated: <b>{{ updatedCount }}</b></p>
    <p>Transfers skipped: <b>{{ skippedCount }}</b></p>

    <a class="btn btn-primary" href="{{ path('sync_record_show', {'id': sync_record.id}) }}">Back</a>
{% endblock %}